{% extends 'flatpages/default.html' %}

{% block title %}
Post List
{% endblock title %}

{% block content %}
    <h1>Все новости и статьи</h1>
    <h2>{{ post|length }}</h2>
    <hr>
    <table>
        <thead>
            <th>
                Заголовок
            </th>
            <th>
                Дата публикации
            </th>
            <th>
                Содержание
            </th>
            <th>
                Автор
            </th>
        </thead>
        {% for post in filter.qs %}
        <tr>
            <td>
                <a href="{% url 'news_detail' post.id %}">{{ post.title|truncatechars:20 }}</a>
                <a href="{% url 'news_update' post.id %}"><u>Редактировать</u></a>

                <a href="{% url 'news_delete' post.id %}"><u> Удалить </u></a>
            </td>
            <td>
                {{ post.dateCreation|date:'d M Y' }}
            </td>
            <td>
                {{ post.text|truncatechars:50 }}
            </td>
            <td>
                {{ post.author.authorUser.username }}
            </td>
        </tr>
        {% endfor %}}
    </table>

    <a href="{% url 'news_create' %}">Добавить новый контент</a> <br>

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    <button> <a href="/accounts/login/">Войти в свой аккаунт</a></button>

    {% endif %}
{% endblock content %}